executing==2.1.0
pexpect==4.9.0
decorator==5.1.1
traitlets==5.14.3
nest-asyncio==1.6.0
ptyprocess==0.7.0
parso==0.8.4
six==1.16.0
jedi==0.19.2
debugpy==1.8.9
jupyter_client==8.6.3
pyzmq==26.2.0
appnope==0.1.4
stack-data==0.6.3
asttokens==2.4.1
jupyter_core==5.7.2
python-dateutil==2.9.0.post0
wcwidth==0.2.13
packaging==24.2
ipython==8.29.0
prompt_toolkit==3.0.48
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
psutil==6.1.0
matplotlib-inline==0.1.7
platformdirs==4.3.6
ipykernel==6.29.5
Pygments==2.18.0
arrow==1.3.0
mne==1.9.0
async-lru==2.0.4
uri-template==1.3.0
rfc3339-validator==0.1.4
trio==0.29.0
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
lazy_loader==0.4
fqdn==1.5.1
decorator==5.1.1
idna==3.10
babel==2.17.0
traitlets==5.14.3
nest-asyncio==1.6.0
pytorch-lightning==2.5.1
kiwisolver==1.4.8
smmap==5.0.1
botocore==1.35.84
ptyprocess==0.7.0
outcome==1.3.0.post0
aiohttp==3.11.16
prometheus_client==0.21.1
isoduration==20.11.0
trio-websocket==0.12.2
pillow==11.1.0
nltk==3.9.1
pyzmq==26.2.1
GitPython==3.1.43
plotly==6.0.1
urllib3==2.2.3
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
hmmlearn==0.3.3
tokenizers==0.21.0
tinycss2==1.4.0
setuptools==75.6.0
xgboost==3.0.0
yarl==1.20.0
python-json-logger==3.2.1
defusedxml==0.7.1
requests==2.32.3
frozenlist==1.5.0
qdldl==0.1.7.post5
debugpy==1.8.12
Jinja2==3.1.4
dnspython==2.7.0
transformers==4.49.0
gitdb==4.0.11
blinker==1.9.0
soupsieve==2.6
sentry-sdk==2.19.0
httpx==0.27.2
seaborn==0.13.2
h11==0.14.0
networkx==3.4.2
groq==0.18.0
jupyter-console==6.6.3
jedi==0.19.2
jiter==0.7.1
joblib==1.4.2
ipython==8.32.0
pydantic==2.10.1
graphviz==0.20.3
itsdangerous==2.2.0
jupyter==1.1.1
PySocks==1.7.1
jupyter_client==8.6.3
beautifulsoup4==4.13.3
asttokens==3.0.0
tqdm==4.67.1
scikit-learn==1.6.1
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
fastjsonschema==2.21.1
jsonpointer==3.0.0
pydantic_core==2.27.1
appnope==0.1.4
attrs==24.2.0
jupyter_server==2.15.0
certifi==2024.8.30
cffi==1.17.1
jsonschema==4.23.0
executing==2.2.0
nbformat==5.10.4
pymongo==4.11.1
stack-data==0.6.3
fsspec==2025.2.0
argon2-cffi==23.1.0
s3transfer==0.10.4
threadpoolctl==3.5.0
jsonlines==4.0.0
clarabel==0.10.0
SQLAlchemy==2.0.36
Werkzeug==3.1.3
wandb==0.18.7
aiofiles==24.1.0
jupyter_core==5.7.2
python-dotenv==1.0.1
nbconvert==7.16.6
referencing==0.36.2
jmespath==1.0.1
pip==25.0.1
regex==2024.11.6
Send2Trash==1.8.3
jupyter-lsp==2.2.5
nbclient==0.10.2
boto3==1.35.84
sniffio==1.3.1
Flask-Cors==5.0.0
psutil==7.0.0
safetensors==0.5.2
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
fonttools==4.56.0
textblob==0.19.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
jupyterlab==4.3.5
sortedcontainers==2.4.0
wcwidth==0.2.13
packaging==24.2
scs==3.2.7.post2
selenium==4.29.0
widgetsnbextension==4.0.13
notebook==7.3.2
torch==2.6.0
jupyter-events==0.12.0
scipy==1.15.2
json5==0.10.0
tzdata==2025.1
lightning-utilities==0.14.3
jupyterlab_server==2.27.3
webcolors==24.11.1
httpcore==1.0.7
torchmetrics==1.7.1
Flask-SQLAlchemy==3.1.1
pycparser==2.22
cycler==0.12.1
ipywidgets==8.1.5
numpy==2.2.2
pytorch-model-summary==0.1.2
pooch==1.8.2
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
distro==1.9.0
h5py==3.13.0
pyparsing==3.2.1
huggingface-hub==0.29.1
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
terminado==0.18.1
contourpy==1.3.1
Flask==3.1.0
propcache==0.3.1
osqp==0.6.7.post3
sympy==1.13.1
argon2-cffi-bindings==21.2.0
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
rpds-py==0.22.3
matplotlib-inline==0.1.7
charset-normalizer==3.4.0
protobuf==5.28.3
mistune==3.1.2
pyEDFlib==0.1.39
pycatch22==0.4.5
multidict==6.4.3
jupyter_server_terminals==0.5.3
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
narwhals==1.35.0
platformdirs==4.3.6
ipykernel==6.29.5
setproctitle==1.3.4
pytz==2025.1
annotated-types==0.7.0
openai==1.55.1
wsproto==1.2.0
filelock==3.17.0
anyio==4.6.2.post1
six==1.17.0
cvxpy==1.6.2
click==8.1.7
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
